<configuration>
    <dllmap dll="SDL" target="libSDL.so" />
    <dllmap dll="SDL_image" target="libSDL_image.so" />
    <dllmap dll="SDL_mixer" target="libSDL_mixer.so" />
    <dllmap dll="SDL_ttf" target="libSDL_ttf.so" />
    <dllmap dll="SDL_net" target="libSDL_net.so" />
    <dllmap dll="smpeg" target="libsmpeg.so" />
    <dllmap dll="SDL_gfx" target="libSDL_gfx.so" />
</configuration>
